body {background-color:.22:38-1-hex color: #10454F; }
   

/* Color Theme Swatches in RGBA */
.22:38-1-rgba { color: rgba(16, 69, 79, 1); }
.22:38-2-rgba { color: rgba(79, 98, 102, 1); }
.22:38-3-rgba { color: rgba(128, 130, 116, 1); }
.22:38-4-rgba { color: rgba(163, 170, 119, 1); }
.22:38-5-rgba { color: rgba(189, 224, 55, 1); }

/* Color Theme Swatches in HSLA */
.22:38-1-hsla { color: hsla(189, 65, 18, 1); }
.22:38-2-hsla { color: hsla(189, 12, 35, 1); }
.22:38-3-hsla { color: hsla(64, 5, 48, 1); }
.22:38-4-hsla { color: hsla(68, 23, 56, 1); }
.22:38-5-hsla { color: hsla(72, 73, 54, 1); }
